<div class="gallery py-5">
    <div class="main">
        <h1 class="text-center my-4"><i class="text-white fa fa-arrow-right"></i> Welcome to our gallery <i class="text-white fa fa-arrow-left"></i></h1>
        <div class="container ">
            <div class="row gy-5">
                <div class="col-md-3">
                    <div>
                        <img src="../../assets/images/gallery/4e02fbed-6523-4efb-82b7-679460307c6f.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-3">
                    <div>
                        <img src="../../assets/images/gallery/67bec456-802c-478e-9817-bc6add6ba1b6.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-3">
                    <div>
                        <img src="../../assets/images/gallery/6cccf868-ca14-4ad8-b7cc-3129c2378184.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-3">
                    <div>
                        <img src="../../assets/images/gallery/7ee0c73d-422d-4368-81ac-c9423aeb0737.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-3">
                    <div>
                        <img src="../../assets/images/gallery/84db7e78-0352-4f07-b610-6d309c3019e3.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-3">
                    <div>
                        <img src="../../assets/images/gallery/de265540-07be-400f-aa0a-49e367efbc86.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-3">
                    <div>
                        <img src="../../assets/images/gallery/download.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-3">
                    <div>
                        <img src="../../assets/images/gallery/67bec456-802c-478e-9817-bc6add6ba1b6.jpg" alt="">
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
